.lightbox-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  box-sizing: border-box;
}

.lightbox-image input {
  display: none;
}

.lightbox-image label:first-of-type {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
}

.lightbox-image input:checked + label {
  position: initial;
}

.lightbox-image input:checked + label img {
  position: fixed;
  object-fit: contain;
  background-color: black;
  padding: 50px;
  z-index: 9;
}

@media (max-width: 600px) {
  .lightbox-image input:checked + label img {
    padding: 10px;
  }
}
