body {
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 20px;
  margin: 50px 0;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
